@charset "UTF-8";
html {
}
body {
	padding: 0;
	font-family: source-sans-pro;
	font-style: normal;
	font-weight: 400;
	max-width: 1145px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	display: block;
	position: relative;
}
ul {
	-webkit-padding-start: 0px;
	margin: 0;
	padding: 0;
}
h2 a {
	text-decoration: none;
	color: rgba(26,26,26,.7);
}
h3 {
	font-family: source-serif-pro;
	font-style: normal;
	font-weight: 300;
	font-size: 1em;
	text-shadow: 0 0px #FFFFFF;
	text-align: center;
	color: rgba(26,26,26,.7);
}
nav li {
	list-style-type: none;
	display: inline;
	padding: 0;
	margin: 0;
}
ol {
	list-style-type: none; !important
}
.tech-list {
	-webkit-padding-start: 0px;
}


/*---------------------------------- Nav --------------------------------*/

#nav-background {
	width: 100%;
	max-width: 1145px;
	height: 70px;
	position: fixed;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	z-index: 9999;
}

.smaller#nav-background {
	width: 100%;
	height: 70px;
	position: fixed;
	background-color: rgba(26,26,26,.9);
	z-index: 9999;
}

#nav-wrapper {
	left: 0;
	margin: 0 35px;
	margin-top: 17px;
	position: fixed;
	right: 0;
	top: 0;

}
#nav-top {
	max-width: 1105px;
	position: relative;
	margin: 0 auto;
	padding: 0 0 15px;
}
#navLeft {
	float: left;
	width: 40%;
	z-index: 100;
	display: block;
}
#navLeft ul {
	text-align: left;
	float: left;
	-webkit-padding-start: 0px;
	margin-top: -11px;
}
#navRight {
	float: right;
	width: 40%;
	margin: 0;
	display: block;
	padding-top: 5px;
	z-index: 100;
}
#navRight ul {
	text-align: right;
	float: right;
	display: block;
	-webkit-padding-start: 0px;
}
nav a {
	font-family: asap;
	color: rgba(26,26,26, .7);
	text-decoration: none;
	text-shadow: 0px 0px;
	font-weight: 400;
	font-style: normal;
	font-variant: small-caps;
	font-size: 12px;
}
.navAbout {
	background-image: url(Images/Line-scribbles/Home4.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	padding-left: 22px;
	padding-right: 22px;
	text-align: center;
	background-position: 50% 50%;
	padding-top: 9px;
	padding-bottom: 7px;
	margin-left: 0px;
	margin-right: -2px;
}
.navTech {
	background-image: url(Images/Line-scribbles/Portfolio4.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	padding-left: 17px;
	padding-right: 17px;
	background-position: 50% 50%;
	text-align: center;
	padding-top: 9px;
	padding-bottom: 6px;
	margin-right: -2px;
}
.navMusic {
	background-image: url(Images/Line-scribbles/About4.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	padding-right: 23px;
	padding-left: 23px;
	background-size: 100% 100%;
	background-position: 50% 50%;
	padding-top: 9px;
	padding-bottom: 6px;
	margin-right: -2px;
	margin-bottom: 0px;
}
.navContact {
	background-image: url(Images/Line-scribbles/Contact4.png);
	background-size: 100% 100%;
	-webkit-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	padding-left: 21px;
	background-repeat: no-repeat;
	text-align: center;
	background-position: 50% 50%;
	padding-right: 25px;
	padding-top: 14px;
	padding-bottom: 6px;
	margin-left: 0px;
	margin-right: -3px;
}
/*
.navAbout:hover {
	color: rgba(26,26,26,.5);
}
.navTech:hover {
	color: rgba(26,26,26,.5);
}
.navMusic:hover {
	color: rgba(26,26,26,.5);
}
.navContact:hover {
	color: rgba(26,26,26,.5);
}
*/
.logoEmail {
	background-image: url(Images/Logos/email.png);
	display: inline-block;
	width: 34px;
	height: 29px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	margin-bottom: 2px;
}
.logoSoundcloud {
	background-image: url(Images/Logos/soundcloud.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 46px;
	height: 40px;
	display: inline-block;
	margin-left: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	bottom: -16px;
	position: relative;
	margin-bottom: 5px;
}
.logoGithub {
	background-image: url(Images/Logos/github.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 31px;
	height: 29px;
	display: inline-block;
	margin-left: 3px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.logoTwitter {
	background-image: url(Images/Logos/twitter.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 31px;
	height: 28px;
	display: inline-block;
	margin-left: 3px;
	background-position: 50% 50%;
	padding-top: 3px;
}
.logoFacebook {
	width: 26px;
	height: 26px;
	display: inline-block;
	background-image: url(Images/Logos/facebook.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	margin-left: -3px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 2px;
}
.logoInstagram {
	width: 26px;
	height: 26px;
	display: inline-block;
	background-image: url(Images/Logos/instagram.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin-bottom: 2px;
}
.logoHome {
	width: 28px;
	height: 28px;
	display: inline-block;
	background-image: url(Images/Logos/jb.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin-bottom: 3px;
}
.logoHome.more-transparent, .logoInstagram.more-transparent, .logoFacebook.more-transparent, .logoTwitter.more-transparent, .logoGithub.more-transparent, .logoSoundcloud.more-transparent, .logoEmail.more-transparent, .more-transparent#navAboutId, .more-transparent#navTechId, .more-transparent#navMusicId, .more-transparent#navContactId {
	opacity: 0.4;
	-webkit-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}

/*-----Big Signature-----*/

img#sigImg {
width: 50%;
position: absolute;
top: 157px;
right: 25%;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;

}

/*-----Small Signature-----*/

img.smaller#sigImg {
	width: 10%;
	position: absolute;
	right: 45%;
	top: -3px;

}
@media screen and (max-width:480px) {
img#sigImg {
	top: 50px;
}
img.smaller#sigImg {
	width: 40%;
	right: 30%
}
#navLeft{
	display: none; !important
}
#navRight{
	display: none; !important
}
}







/*---------------------------------- Banner ------------------------------*/
/*
.buttonMusic {
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	display: inline-block;
	margin-left: 6px;
	margin-right: 6px;
	width: 60px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 500;
	border: 1px solid #FFFFFF;
	padding-top: 4px;
}*/

.banner-main-image {
	background-repeat: no-repeat;
	max-width: 1145px;
	display: block;
	position: relative;
	z-index: 90;
}

.banner-wrapper {
	min-height: 320px;
	display: block;
	position: relative;
	width: 100%;
}
.main-image {
	max-width: 1145px;
	width: 100%
}

/*------------------------------- Main Content ---------------------------*/

.mainContent {
	display: block;
}
h1 {
	font-family: source-serif-pro;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;
	font-size: 2em;
	text-shadow: 0 0px #FFFFFF;
	text-align: center;
}
h2 {
	font-family: source-serif-pro;
	font-style: normal;
	font-weight: 300;
	font-size: 1.2em;
	text-shadow: 0 0px #FFFFFF;
	text-align: center;
	color: rgba(26,26,26,.7);
}
.sectionTop {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

/*
.sectionRight {
	width: 50%;
	margin-left: 2.5%;
	margin-right: 5%;
	float: right;
	background-color: #FFFFFF;
	border-top: 10px solid #000000;
	border-bottom: 10px solid #000000;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.sectionFull {
	width: 90%;
	margin-left: 2.5%;
	margin-right: 5%;
	float: right;
	background-color: #FFFFFF;
	border-top: 10px solid #000000;
	border-bottom: 10px solid #000000;
	margin-bottom: 5%;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
*/

.block-text-center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 75%;
	padding-bottom: 70px;
	border-bottom: thin solid rgba(26,26,26,.4);
}
.block-text-center .sectionContent p {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0px;
	color: rgba(26,26,26,.7);
}
@media screen and (max-width:480px) {
.block-text-center .sectionContent p {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}
}
.section-title-wrapper {
	text-align: center;
}

/* styles for gif images next to headers */

.animated-gif-wrapper {
	display: inline-block;
	position: relative;
	width: 0;
	height: 0;
}
#animated-gif-wrapper-about-me {
	top: 2px;
	right: 105px;
}
#animated-gif-wrapper-tech {
	top: 7px;
}
#animated-gif-wrapper-music {
	top: 1px;
	right: 120px;
}
#animated-gif-wrapper-music-right {
	left: 5px;
	top: 3px;
}
#animated-gif-wrapper-contact {
	top: 5px;
}
.title-wrapper {
	display: inline-block;
}
#a-little-bit {
	height: 20px;
	display: none;
}
.visibleNow#a-little-bit {
	display: inline-block;
}
#tech-no-log-ic {
	height: 27px;
}
#music-lines {
	height: 25px;
}
#music-lines-right {
	height: 25px;
}
#contact-dots {
	height: 25px;
}
#about-me-title {

}
#tech-title {

}
#music-title {

}

#my-name {
	font-size: 23px;
	margin: 30px 0 0px 0;
	color: rgba(26,26,26, .9);
	text-shadow: 2px 2px rgba(26,26,26, .3);
}
@media screen and (max-width:480px) {
#a-little-bit {
	height: 15px;
}
#animated-gif-wrapper-about-me {
	right: 78px;
}
}

/*-----------------------------Recent Events-------------------------------*/

.recent-events-wrapper2 {
	max-width: 1145px;
	margin: 0 auto;
	display: block;
	position: relative;
}
#recent-events-header{
	margin: 50px auto 33px auto;
}
.recent-events-sq-container {
	max-width: 30%;
	margin: 0 1.333%;
	padding: 0;
	display: inline-block;
}
.recent-events-sq-1, .recent-events-sq-2, .recent-events-sq-3 {
	max-width: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}
.pictures-container {
	max-width: 1145px;
	padding-top: 80px;
	margin: 0 auto;
	display: block;
	position: relative
}
.pictures-row {
	overflow: auto;
}
.little-pic {
	max-width: 13.4%;
	margin: 0 auto;
	display: inline-block;
}
.insta-pic {
	max-width: 100%;
}

/*----------------------------------Tech----------------------------------*/

.techContent {
	overflow: auto;
}
.tech-article {
	margin-bottom: 30px;
}
.tech-link {
	text-decoration: none;
	color: rgba(26,26,26, 1);
}
.tech-link:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	background: rgba(26,26,26, .9);
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-top: 12px;
	color: #FFF;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
}
button:hover {
	background: rgba(26,26,26, .6);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
.techContent button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
.techContainerLeft {
	width: 45%;
	float: left;
	margin: 0 auto;

}
.techContainerRight {
	float: right;
	width: 55%;
	margin: 0 auto;
}
.my-github {
	width: 60%;
}
.languages {
	width: 100%;
	margin: 0 auto 30px auto;
}
.languages h2 {
	margin-top: 0;
}
.software {
	width: 100%;
}
.software h2 {
	margin-top: 0;
}
.orderedListContainer {
	width: 100%;
	overflow: auto;
}
.subText {
	font-size: .8em;
	margin-bottom: 0;
}
.little-techContainerLeft {
	width: 50%;
	float: left;
	margin: 0 auto;

}
.little-techContainerRight {
	float: right;
	width: 50%;
	margin: 0 auto;
}
.list-num {
	font-size: small;
	color: rgba(26,26,26, .6);
}
@media screen and (max-width:480px) {
.techContainerRight {
	float: none;
	margin-top: 30px;
	width: 100%;
}
.techContainerLeft {
	float: none;
	width: 100%;
}
}

/*----------------------------------Music----------------------------------*/

.musicPlayer {
	width: 75%;
	margin: 0 auto;
	border: thin solid rgba(26,26,26,.4);
}
.musicWrapper {
	margin-top: 0px;
}
.music-button-soundcloud button {
	margin: 30px auto 30px auto;
}
.music-button-mixcloud button {
	margin: 30px auto 0px auto;
	min-width: 178px;
}
#spotify-follow {
	border: none;
	margin-bottom: 30px;
}

/*--------------------------------Contact---------------------------------*/

.contact-form-wrapper * {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/*
body {
	font:400 12px/1.625 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#444;
	background:#991D57;
	background-image:linear-gradient(left , #761542 0%, #991D57 52%, #761542 100%);
	background-image:-moz-linear-gradient(left , #761542 0%, #991D57 52%, #761542 100%);
	background-image:-webkit-linear-gradient(left , #761542 0%, #991D57 52%, #761542 100%);
}
*/
.contact-form-wrapper {
	max-width:500px;
	width:95%;
	margin:0 auto;
	position:relative;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
	font:400 12px/12px source-sans-pro, sans-serif;
}
#contact-form {
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	padding:0 25px;
}
.contact-form-wrapper h3 {
	margin-bottom: 15px;
}
#contact-form label span {
	cursor:pointer;
	color:rgba(26,26,26, .9);
	display:block;
	margin:5px 0;
	font-weight:400;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #1a1a1a, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #1a1a1a, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #1a1a1a, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact-form textarea {
	height:100px;
	max-width:100%;
}
#contact-form button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:rgba(26,26,26, .9);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form button[type="submit"]:hover {
	background: rgba(26,26,26,.6);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
	color:#888;
}
:-moz-placeholder {
	color:#888;
}
::-moz-placeholder {
	color:#888;
}
:-ms-input-placeholder {
	color:#888;
}
.block-text-center#contact-section-id {
	border-bottom: none;
}

/*----------------------------------Footer--------------------------------*/

.upper-footer {
	background-color: rgba(26,26,26,.9);
	width: 100%;
	max-width: 1145px;
	height: 70px;
}
.lower-footer {
	background-color: #000000;
	color: #FFFFFF;
	font-weight: 600;
	font-size: x-small;
	text-align: center;
	max-width: 1145px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding: 55px 10px;
	clear: both;
}
footer a {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}
footer a:hover {
	text-decoration: underline;
}
.footer-logo-wrapper {
	margin: 0 auto 10px auto;
}
.footer-logo {
	width: 30px;
}

/*----------------------------------Other---------------------------------*/

video {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
